<div class="container text-center mainwrap">
  <h1 id="name">{{vm.Contitle}}</h1>
  <h2 class="text-center">Contact Info</h2>

  <div class="row">
    <div class="col-md-6" >
      <img id="portrait"src="/img/Attachment-1.jpeg" width="370"class='img-responsive'alt="self-portrait" />
    </div>

      <div class="col-md-6 p1">

        <p id="p1">Ever since I discovered my passion for web developing a few years ago, I've always enjoyed tackling new concepts, projects, and ideas. I love the roller coaster ride of feels you get from programming, from anger from stubborn bugs to sheer uncontrollable bliss when things work how they're supposed to. So if you have a project or an idea feel free to reach out. Even if you just wanna ask random questions, I'm here for ya!</p>

        <form class="form">
          <md-input-container>
            <label></label>
            <input id="subject"type="text" ng-model="subject" placeholder="Subject">
          </md-input-container>
          <md-input-container>
            <label></label>
            <textarea id="text"ng-model="text" type='text'rows="8" cols="40" placeholder="Please include (your name, phone number, and email address in your inqury.)"></textarea>
          </md-input-container>
          <md-button class="md-default" id="send_email">Send<ng-md-icon id="iconS"icon="send" style="fill: white" size="30"></ng-md-icon></md-button>
          <span id="message"></span>
        </form>
      </div>

  </div>

</div>
<script>// <![CDATA[
$(document).ready(function(){
    $("#send_email").click(function(){
      console.log('log 1');
        var from;
        var to = "dojadeveloper@gmail.com";
        var subject = document.getElementById("subject").value;
        var text = document.getElementById("text").value;
        console.log(to);
        if (text == "" && subject == "") {
          console.log('No data entered. Send cancelled');
          $("#message").html("<p>There is missing information!</p>");
          return;
        }
        $("#message").html("<p>Sending Message...Please wait</p>");
        $.get("/send",{to:to,subject:subject,text:text},function(data){
        if(data=="sent")
        {
            $("#message").empty().html("<br><br><br><h4 style='color:white;font-family:serif;margin-top:-60px;'>Email has been sent to "+to+" .<br> Thanks for the message! I'll get back to you as soon as I can.</h4>");
        }
      });
      document.getElementById("subject").value = '';
      document.getElementById("text").value = '';
    });


});
</script>
