<div ng-controller="HomeController as vm">
	<div class="container" style="padding-bottom:60px;">
		<div class="row" layout="row" layout-align="space-around center">
		<md-button layout-align="left" class='md-default' ui-sref='MicDoja'><ng-md-icon icon="keyboard_arrow_left" style="fill: white" size="80"></ng-md-icon><p>
			Prev
		</p></md-button>
		<md-button class='md-default MobileBtn' layout-align="center"ui-sref='Experience'><b>Back</b></md-button>
			<md-button layout-align="right" class='md-default' ui-sref='Chat'><ng-md-icon icon="keyboard_arrow_right" style="fill: white" size="80"></ng-md-icon><p>
				Next
			</p></md-button></div>
			<h1 id="name">{{vm.Contitle}}</h1>
			<h2 class="text-center pageName">Blog-Nation</h2>

			<p class="text-center">
				<img src="/img/GH_icon.png" width='50' alt="Github Icon" /><br>

				<a  style="margin-top:10px;display:block;color:red;font-size:1.4em;"href="https://github.com/M-Doja/DEMO" target='_blank'><b>View on GitHub</b></a>
				<a  style="margin-top:10px;display:block;color:red;font-size:1.4em;"href="http://pages-demo.herokuapp.com/templates/blog.html" target='_blank'><b>View Website</b></a><br>
				<span class="spanText">Blog-Nation is a blogging platform where users can create, edit, and delete blog entries. It is built using javascript framework Angular and Firebase DB and API for data storage.</span>
			</p>
			<img src="/img/page-blog1.PNG" class='img-responsive' alt="" />



	</div>
	<footer class="text-center">&copy 2016 Phoja Unlimited LLC. All Rights Reserved.</footer>
</div>
