<div ng-controller="HomeController as vm">
  <div class="container" ng-mouseenter="vm.hideStuff()">
    <div class="xpText">
      <p class="text-center"><span>My Experience</span> and passion began 3 years ago. It has led me from first teaching myself basic javascript programming, and on to becoming a bootcamp grad from a tech school from the bay area. I now currently enjoy working freelance and participating in open source projects.</p>
    </div>
    <div id='boxes' class="container-fluid">
    	<div layout="row" layout-align='center'class="row">

    		<div ng-mouseover="tOff=!tOff"  flex="auto"class="text-center proj xp">
          <p><a href="#" class="color">Travstate</a></p>
            <div ng-class="{trav:tOff}" class="travstate" ng-hide='vm.summary'>
              <p>built using:
              <img id="tPic"src="/img/HTML5_badge.png" alt="HTML badge" width="30"/>
              <img id="tPic"src="/img/CSS3_badge.png" alt="CSS badge" width="20"/>
              <img id="tPic"src="/img/Javascript_badge.png" alt="Javascript badge" width="30"/>
              <img id="tPic"src="/img/Angular_badge.png" alt="Angular badge" width="30"/></p>
            </div>
    		</div>



    		<div ng-mouseover="mOff=!mOff" flex="auto"class="text-center proj xp" >
          <p><a href="#" class="color">Mic Doja</a></p>
          <div ng-class="{mic:mOff}" class="micdoja" ng-hide='vm.summary'>
            <p>built using:<img id="tPic"src="/img/WordPress_badge.png" alt="WordPress badge" width="30"/> <img id="tPic"src="/img/PHP-logo.png" alt="PHP badge" width="30"/></p>
          </div>
    		</div>
      </div>
      <div layout="row" layout-align='center'class="row">

    		<div ng-mouseover="bOff=!bOff" flex="auto" class="text-center proj xp">
          <p><a href="#" class="color">Blog-Nation</a></p>
          <div ng-class="{blog:bOff}" class="blogs" ng-hide='vm.summary'>
            <p>built using:
              <img id="tPic"src="/img/HTML5_badge.png" alt="HTML badge" width="30"/>
              <img id="tPic"src="/img/CSS3_badge.png" alt="CSS badge" width="20"/>
              <img id="tPic"src="/img/Javascript_badge.png" alt="Javascript badge" width="30"/>
              <img id="tPic"src="/img/jQurery_badge.jpg" alt="jQuery badge" width="20"/>
              <img id="tPic"src="/img/firebase.png" alt="firebase badge" width="30"/></p>
          </div>
    		</div>
    		<div ng-mouseover="cOff=!cOff" flex="auto" class="text-center proj xp">
          <p><a href="#" class="color">Chat Time</a></p>
          <div ng-class="{chat:cOff}" class="chats" ng-hide='vm.summary'>
            <p>built using:
              <img id="tPic"src="/img/HTML5_badge.png" alt="HTML badge" width="30"/>
              <img id="tPic"src="/img/CSS3_badge.png" alt="CSS badge" width="20"/>
              <img id="tPic"src="/img/Javascript_badge.png" alt="Javascript badge" width="30"/>
              <img id="tPic"src="/img/firebase.png" alt="firebase badge" width="30"/>
              <img id="tPic"src="/img/stamplay.png" alt="stamplay badge" width="100"/>
            </p>
          </div>
    		</div>
    	</div>

    </div>
  </div>



  <!-- test zone -->


  <style>

  /*.highlight.on-add {
    background:white;
  }*/
  /*.highlight.on {
    background:yellow;
  }*/
  </style>
  <!-- End test zone -->
</div>
