<div ng-controller="HomeController as vm">
	<div class="container">
		<div class="row" layout="row" layout-align="space-around center">


		<md-button layout-align="left" class='md-default' ui-sref='Travstate'><ng-md-icon icon="keyboard_arrow_left" style="fill: white" size="80"></ng-md-icon><p>
			Prev
		</p></md-button>
		<md-button class='md-default MobileBtn' layout-align="center"ui-sref='Experience'><b>Back</b></md-button>
			<md-button  layout-align="right" class='md-default' ui-sref='Blog'><ng-md-icon icon="keyboard_arrow_right" style="fill: white" size="80"></ng-md-icon><p>
				Next
			</p></md-button>
			</div>
			<h1 id="name"class="text-center">{{vm.Contitle}}</h1>
			<h2 class="text-center pageName">Mic Doja</h2>
			<p class="text-center">
			<a  style="margin-top:10px;display:block;color:red;font-size:1.4em;"href="http://micdoja.com" target='_blank'><b>View Website</b></a><br>
			<span class="spanText">Mic Doja Music is a musician's website that was built and customized in WordPress to showcase work and stay connected to fans.</span></p>
			<img src="/img/micdoja-hm.PNG" class='img-responsive' alt="" />
	</div>
</div>
