<div ng-controller="HomeController as vm">
	<div class="container">
	<div class="row" layout="row" layout-align="space-around center">



		<md-button class='md-default MobileBtn' layout-align="center"ui-sref='Experience'><b>Back</b></md-button>
			<md-button class='md-default' layout-align="right" ui-sref='MicDoja'><ng-md-icon icon="keyboard_arrow_right" style="fill: white" size="80"></ng-md-icon><p style="margin-top:-20px;">
				Next
			</p></md-button>
			</div>
			<h1 id="name">{{vm.Contitle}}</h1>
			<h2 class="text-center pageName">Travstate</h2>
			<p class="text-center">
				<img src="/img/GH_icon.png" width='50' alt="Github Icon" /><br>
				<a  style="margin-top:10px;display:block;color:red;font-size:1.4em;"href="https://github.com/M-Doja/TraveLaws-App" target='_blank'><b>View on GitHub</b></a>
				<a  style="margin-top:10px;display:block;color:red;font-size:1.4em;"href="http://travstate.herokuapp.com" target='_blank'><b>View Website</b></a><br>
				<span class="spanText">Travstate is a U.S. law resource site listing laws and facts for U.S. states built using frameworks Angular and Angular Material</span></p>
			<img src="/img/trav-hm.PNG" class='img-responsive' alt="" />



	</div>

</div>
