body{background-image: url('/img/key1.jpg'); background-size:100%;background-attachment:fixed;background-size:cover;padding-top: 40px;overflow: scroll;width: 100%;
top: 0;
left: 0;
bottom: -80px;
position: relative;;
background: url("/img/key1.jpg") no-repeat center center;
z-index: -1;}



#background-img {
  width: 100%;
  top: 0;
  left: 0;
  bottom: -80px;
  position: fixed;
  z-index: -1;
  background: url("/img/key1.jpg") no-repeat center center;
  background-size: cover;
}
/**/
h1,h2,h3,h4,h5,h5,p,div{font-family: serif}
li a{color:black}
nav ul li{list-style:none; display:inline-block; margin-top:-15px; font-family:serif; font-size:5em;}
nav{background-color: rgba(255, 255, 255, 0.5);}
.hmHead{background-color:rgba(0, 0, 0, 0.7);}
#boxes{margin-top: 40px;}
#name{font-size: 3.3em; }
#jobRole{color: white;font-size: 24px;}
@media (min-width:1024px){#name{font-size: 4.3em;}#jobRole{font-size: 28px;}}
.proj{height:100px;width: 300px;background-color:rgba(255, 255, 255, 0.5);margin:10px; }
.xpText span{font-weight:bold;font-size: 1.7em}
.xpText p{font-size: 20px;color:white;}
.xpText{background-color:rgba(0, 0, 0, 0.7);padding-bottom: 5px;}
/*.proj:hover { {display: inherit}}*/
.xp{color:#000;font-size:2em;font-weight:bold;padding-top:40px 20px;margin-bottom: 40px;}
/*.xpText p a{color:black}*/
.color{color:black;font-size: 1em}
@media (max-width:425px){.color{font-size:1.1em;}.DeskBtn{display:inline-block;}}
@media (min-width:768px){
  .color{font-size:2.15em;}
  #portrait{display: inline;float:left;padding-right: 15px;}
  #p1{padding-left: 20px;display: inline;margin-top: 100px;}
  .p1{padding-top:40px; }
  .cform{display: block;margin-top: 75px;}
}
#iconS{margin:-36px 0 0 120px;display: block}
#send_email{font-size: 25px;padding-top: 5px;}
.form{background-color: rgba(255, 255, 255, 0.7)}
.color:hover{color:#333}
.spanText{font-size: 1.75em;background-color: rgba(0, 0, 0, 0.7);color:white}
.proj:hover #tPic {display: inline}
#tPic {display: none}
.md-button{background-color: rgba(0, 0, 0, 0.7);border-radius: 8px;}
.mainwrap{margin: 0 auto;}
#portrait{border-radius:50%;margin:20px auto;z-index: 9999999;}
#p1{margin-top:20px;padding:20px;font-size: 22px;}
#pTag{background-color:rgba(0, 0, 0, 0.7);color:white;padding:3px}
#jobRole,#name{-webkit-animation-duration: 3s;-webkit-animation-delay: 1s;-webkit-animation-iteration-count: 1;}
.cont{background-color:rgba(0, 0, 0, 0.7);}
/*testing ranges*/
@media (max-width: 768px){.travstate p, .micdoja p, .blogs p, .chats p{display: none;}}
@media (min-width: 768px){
  .travstate {transition:2.9s linear all;color:transparent;}
  .micdoja {transition:2.9s linear all;color:transparent;}
  .blogs {transition:2.9s linear all;color:transparent;}
  .chats {transition:2.9s linear all;color:transparent;}

  .travstate.trav-remove {background:red;color:black;}
  .micdoja.mic-remove {background:red;color:black;}
  .blogs.blog-remove {background:red;color:black;}
  .chats.chat-remove {background:red;color:black;}
  .cont{background-color: rgba(0, 0, 0, 0.0);}
  /*#pTag{margin-left: 375px;}*/
}
@media (min-width:1440px){
  #p1{font-size: 28px}
}


/*.highlight{*/
  transition: all linear 0.5s;
  /*background-color: lightblue;*/
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/*.ng-hide {*/
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
/*@media (min-width: 600px) and (max-width: 959px) { body{background-image:none;}}*/
